@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit,.register__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 3.5px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.register__submit {
	border: 2.5px solid #bebaba;
	outline: none;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.register__submit:hover {
	outline: none;
	opacity: 0.8;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

/* form Đăng Kí */
.signUp__container {
    display: flex;
    justify-content: center;
    align-items: center;  
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.signUp {
    width: 30%;
    height: 30%;
    line-height: 30px;
    border: 2px solid #ccc; 
	background: linear-gradient(90deg, #C7C5F4, #776BCC);	
}


.signUp__heading__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 14px 18px 0px 18px;
}
  
.heading__des__container {
    display: flex;
    flex-direction: column;
}

.signUp__heading {
    font-size: 38px;
    margin-bottom: 4px;
}

.signUp__heading__des{
    color: #221c1c;
    font-size: 16px;
    font-weight: 400;
    margin-top: 3px;
}

.close__signUp {
    font-size: 16px;
    padding: 4px;
    margin-bottom: 46px;
}

.close__signUp:hover {
    cursor: pointer;
}
.signUp__form {
    padding: 14px 18px 0px 18px;
}

.nameInput {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.text {
    width: 45%;
    border: 1px solid #000;
    outline: none;
    font-size: 17px;
	font-weight: 600;
    padding: 10px 8px;
    border-radius: 4px;
    color: #8d949e;
    border-color: #bdc7d8;
    background: #f5f6f7;
}

.emailInput {
    margin: 14px 0px;
}

.email {    
    width: 100%;
    border: 1px solid #000;
    outline: none;
    font-size: 17px;
	font-weight: 600;
    padding: 10px 8px;
    border-radius: 4px;
    color: #8d949e;
    border-color: #bdc7d8;
    background: #f5f6f7;
}

.passwordInput {
    margin-bottom: 14px;
}

.pwd {
    width: 100%;
    border: 1px solid #000;
    outline: none;
    font-size: 17px;
	font-weight: 600;
    padding: 10px 8px;
    border-radius: 4px;
    color: #8d949e;
    background-color: #8d949e;
    border-color: #bdc7d8;
    background: #f5f6f7;
}

#dbirth {
    margin-bottom: -8px;
    font-size: 14px;
    color: #221c1c;
}

.birth__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.birth__dates {
    width: 30%;
    font-size: 17px;
    padding: 10px 8px;
    border-color: #bdc7d8;
	color: #473943;
	font-weight: 600;
    outline: none;
}

.birth__months {
    width: 30%;
    font-size: 17px;
    padding: 10px 8px;
    border-color: #bdc7d8;
	color: #473943;
	font-weight: 600;
    outline: none;
}

.birth__years {
    width: 30%;
    font-size: 17px;
    padding: 10px 8px;
    border-color: #bdc7d8;
	color: #473943;
	font-weight: 600;
    outline: none;
}

#gender {
    margin-bottom: -8px; 
    font-size: 14px;
    color: #221c1c;
}

.gender__container { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px; 
}

.gender1 {
    width: 30%;
    font-size: 17px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    display: flex;
    justify-content: space-between;
    align-items: center; 
	background-color: #fff;
	color: #473943;
	font-weight: 600;
}

.gender2 {
    width: 30%;
    font-size: 17px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    display: flex;
    justify-content: space-between;
    align-items: center; 
	background-color: #fff;
	color: #473943;
	font-weight: 600;
}

.gender3 {
    width: 30%;
    font-size: 17px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    display: flex;
    justify-content: space-between;
    align-items: center; 
	background-color: #fff;
	color: #8d949e;
	color: #473943;
	font-weight: 600;
}

.signUp__footer

#terms

.regulations{
    display: inline-block;
    text-align: justify;
    color: #221c1c;
    font-size: 13px;
    margin: 6px 0px;
    line-height: 18px;
}

.signUp__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 0px 32px 0px;
}

.signup-btn {
    outline: none;
    background: none;
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 60px;
    text-shadow: none;
}

.signup-btn:hover {
    border: 1px solid #6A679E;;
	outline: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 2px #5C5696;
    opacity: 0.8;
}



